<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CrossBrowser" parallel="tests" >
<parameter name="url" value="https://www.google.co.in/"></parameter>
  <test name="CrossBrowserTest1">
    <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="testNG.CrossBrowserTest"/>
    </classes>
  </test> <!-- CrossBrowserTest -->
  <test name="CrossBrowserTest2">
    <parameter name="browser" value="chrome"></parameter>
	<parameter name="url" value="https://www.facebook.com/"></parameter>
    <classes>
      <class name="testNG.CrossBrowserTest"/>
    </classes>
  </test> <!-- CrossBrowserTest -->
  <test name="CrossBrowserTest3">
    <parameter name="browser" value="edge"></parameter>
    <parameter name="url" value="https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/"></parameter>
    <classes>
      <class name="testNG.CrossBrowserTest"/>
    </classes>
  </test> <!-- CrossBrowserTest -->
</suite> <!-- CrossBrowser -->
